
# -- backup files --

*~
\#*\#
*.swp

# -- build --

/META.yml
/MYMETA.json
/MYMETA.yml
/Makefile
/pm_to_blib
/blib
/inc

# -- directories --

/log/*
!/log/.exists
/Encode
/data

# -- priviate --

/credential.pl
